@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}

.login{
    width: 99vw;
    height: calc(100vh - 9.2rem);
    background-image: url("../../assets/backgrounds/Group\ 21.png"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: $bege;
    display: flex;
        align-items: center;
        justify-content: center;
&__form-container{
    height: 25rem;
    background-color: $primary-2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    border-radius: 20px;
}
&__title{
    line-height: 1.5rem;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}
&__form{
    display: flex;
    flex-direction: column;
}
&__input{
    height: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.15rem;
    background-color: $bege;
    border: none;
    border-bottom: 1px solid $primary-1;
}
&__label{
    
}

&__btn{
    width: 12rem;
        background-color: $primary-1;
        color: $bege;
        border: none;
        margin: 0 auto;
        padding: 0.5rem;
        border-radius: 10px;
        height: 2.5rem;
        margin:  auto 2rem;
} 
}


.login__input:focus {
    border-bottom: 1px solid $primary-3;
}
