@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;   
}

.main {
    height: calc(100% - 5rem);
    background-color: $bege;
    display: flex;
    justify-content: space-between;}