@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;   
}

.main {
height: 123vh;
    background-color: $bege;
    display: flex;
    flex-direction: column;
@include tablet{
height: 137vh;

}
@include desktop{
height: calc(100vh - 10rem);
flex-direction: row;
justify-content: space-between;
}}