// nutral colors 
$black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$dark-black: #000000;
$mercury: #E1E1E1;
$alabaser: #FAFAFA;
$bege: #FBF7F7;

// primary collors
$primary-1: #3E2E3C;
$primary-2: #EDE7E4;

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    height: calc(100vh - 5rem);
    background-color: $bege;
    display: flex;
    justify-content: space-around;}