@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}

.draggable {
    // height: calc(100vh - 5rem);
    // background-color: $bege;
    // display: flex;
    // justify-content: space-around;

    &__rows {
        margin-top: 3rem;
        margin-left: 5rem;

        background-color: $primary-2;
        width: 24rem;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        // place-content: center;

    }

    &__title {
        text-align: center;
        margin: 1rem;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    &__devider {
        margin: 1rem auto;
        height: 1px;
        width: 90%;
        background-color: $primary-1;
    }
}

.row-img{
    margin: 0 1rem;
    width: 22rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    box-shadow: $shadow;
    
}

.drg-ul{
    list-style: none;
}