@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}

.drop{
        &__rows {
                width: 100%;
                display: flex;
                flex-direction: column;
                place-content: center;
                margin-top: 3rem;
            }
           &__title{
            text-align: center;
           }
            &__container {
                width: 20rem;
                height: 30rem;
        
                margin-top: 2rem;
                border: 2px dashed $silver;
        
                border-radius: 25px;
                background-color: $mercury;
            }

                &__btn {
                    background-color: $primary-1;
                    color: $bege;
                    border: none;

                    padding: 0.5rem;
                    border-radius: 10px;
                    height: 2.5rem;
                    margin-top: 2rem;
                }
}