@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.result{
height: 40rem;
width: 30rem;
background-color: $primary-2;
margin-top: 3rem;
display: flex;
flex-direction: column;
place-content: center;
        &__container {
            margin: auto;
            height: 360px;
            width: 360px;
            background-color: $mercury;
            text-align: center;
            }
            &__btn {
                background-color: $primary-1;
                color: $bege;
                border: none;
        
                padding: 0.5rem;
                border-radius: 10px;
                height: 2.5rem;
                margin-bottom: 2rem;
            }
}