@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}

.hero{
    height: calc(100vh - 9rem);
    background-color:$primary-2;
    
    &__container{
        z-index: 1;
        text-align: center;
    @include tablet {
       text-align: left;
       position: absolute;  
       top: 20%;  
       left: 5%; 
            
        }
    }
    &__title{ 
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.5rem;
        width: 20rem;
        text-align: left;
        padding: 2rem;
        padding-left: 4rem;
        &--spn{
            color: $primary-3;
        }
        @include tablet{
        padding-left: 0;
        font-size: 3rem;
        line-height: 4rem;
        width: 40rem;
        padding-bottom: 3rem;
        }
        
    }
    
    &__canvas{
        width: 100%;
        height: 25rem;
       @include tablet{
        padding-top: 5rem;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 35rem;
       }
    }
    &__btn {
        cursor: pointer;
        width: 15rem;
        background-color: $primary-1;
        color: $bege;
        border: none;
        margin: 0 auto;
        padding: 0.5rem;
        border-radius: 10px;
        height: 2.5rem;
        margin-bottom: 2rem;
    }
    &__btn:hover{
    
    transform: scale(1.1);
    color: $primary-1;
    background-color: $primary-2;
    border: 2px solid $primary-1;
    }
}